<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- đường dẫn chỉ cần trỏ bắt đầu từ css (con của public), vì ở server đã config từ public rồi -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    hello word with ejs
    <div>
        <!-- tương tự link css ở trên -->
        <img class="vanhimg" src="/images/vanh.jpg" /> 
    </div>
</body>
</html>